<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard de Monitoring</title>
		<link rel="stylesheet" href="/css/style.css" />
		<script src="/js/smoothie-chart.js"></script>
		<script src="/js/save-settings.js"></script>
	</head>
	<body>
		<header>
			<h1>Dashboard de Monitoring</h1>
		</header>

		<section class="metrics">
			<div class="chart-container">
				<h2>Utilisation CPU</h2>
				<canvas id="cpuChart" width="800" height="200"></canvas>
			</div>
			<div class="chart-container">
				<h2>Utilisation Mémoire</h2>
				<canvas id="memoryChart" width="800" height="200"></canvas>
			</div>
			<div class="chart-container">
				<h2>Température CPU</h2>
				<canvas id="temperatureChart" width="800" height="200"></canvas>
			</div>
			<div class="chart-container">
				<h2>Utilisation du Disque</h2>
				<canvas id="diskChart" width="800" height="200"></canvas>
			</div>
			<div class="chart-container">
				<h2>Réseau</h2>
				<canvas id="networkChart" width="800" height="200"></canvas>
			</div>
			<div class="chart-container">
				<h2>Batterie</h2>
				<canvas id="batteryChart" width="800" height="200"></canvas>
			</div>
			<div class="chart-container">
				<h2>Uptime</h2>
				<p id="uptimeText"></p>
			</div>
		</section>

		<button id="settingsButton" onclick="toggleSettingsPanel()">⚙️</button>

		<div id="settingsPanel">
			<h3>Paramètres du Dashboard</h3>
			<label>
				Couleur du Dashboard:
				<input type="color" id="dashboardColor" />
			</label>
			<label>
				<input type="checkbox" class="chart-checkbox" checked /> Afficher
				Utilisation CPU
			</label>
			<label>
				<input type="checkbox" class="chart-checkbox" checked /> Afficher
				Utilisation Mémoire
			</label>
			<label>
				<input type="checkbox" class="chart-checkbox" checked /> Afficher
				Température CPU
			</label>
			<label>
				<input type="checkbox" class="chart-checkbox" checked /> Afficher
				Utilisation du Disque
			</label>
			<label>
				<input type="checkbox" class="chart-checkbox" checked /> Afficher Réseau
			</label>
			<button onclick="saveSettings()">Sauvegarder</button>
		</div>

		<section class="services">
			<h2>Services Actifs</h2>
			<table>
				<thead>
					<tr>
						<th aria-sort="ascending">
							<button>
								Nom du Service
								<span aria-hidden="true"></span>
							</button>
						</th>
						<th>
							<button>
								Statut
								<span aria-hidden="true"></span>
							</button>
						</th>
						<th class="no-sort">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% (services || []).forEach(function(service) { %>
					<tr
						class="<%= service.active !== 'active' ? (service.sub === 'failed' ? 'disabled-service' : 'inactive-service') : '' %>"
					>
						<td><%= service.unit %></td>
						<td><%= service.active %></td>
						<td>
							<button onclick="promptPasswordAndPerformAction('<%= service.unit %>', 'start')">
								Start
							</button>
							<button onclick="promptPasswordAndPerformAction('<%= service.unit %>', 'stop')">
								Stop
							</button>
							<button onclick="promptPasswordAndPerformAction('<%= service.unit %>', 'restart')">
								Restart
							</button>
							<button onclick="showServiceDetails('<%= service.unit %>')">
								Details
							</button>
							<button onclick="viewLogs('<%= service.unit %>')">Logs</button>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</section>

		<div id="serviceDetailsModal" class="modal">
			<div class="modal-content">
				<span class="close" onclick="closeModal('serviceDetailsModal')"
					>&times;</span
				>
				<h2>Détails du Service</h2>
				<pre id="serviceDetails"></pre>
			</div>
		</div>

		<div id="logModal" class="modal">
			<div class="modal-content">
				<span class="close" onclick="closeModal('logModal')">&times;</span>
				<h2>Logs du Service</h2>
				<pre id="serviceLogs"></pre>
			</div>
		</div>

		<div id="passwordModal" class="modal">
			<div class="modal-content">
				<span class="close" onclick="closeModal('passwordModal')">&times;</span>
				<h2>Entrer le mot de passe</h2>
				<input type="password" id="adminPassword" placeholder="Mot de passe" />
				<button onclick="performServiceAction()">Confirmer</button>
			</div>
		</div>

		<script src="/js/chart-config.js"></script>
	</body>
</html>
